<html>
<body>
	
	<input type="text" name="fname" placeholder="First name" required>
				<input type="text" name="lname" placeholder="Last name" required>
				<input type="number" name="vid" placeholder="prisoner id" required>
				<input type="text" name="id" placeholder="address" />
				<input type="text" name="id" placeholder="address" />
				<input type="date" name="doi" placeholder="date of in" />
				<input type="date" name="dou" placeholder="Date of out" />
				<input type="number" name="age" placeholder="age" />
				<input type="numer" name="section id" value='<%=sid%>' placeholder="address" />
				<input type="number" name="cid" placeholder="caseid" />
				<input type="submit">
</body>
</html>